<configuration>
    <configSections>
        <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </configSections>

    
    <connectionStrings>

  	<add name="SQL2019" connectionString="user id = sa;password = Cie-quich; server=SPEDAROSALESA\SQL2019; database=dbNegocioL;" providerName="System.Data.SqlClient" />

	<add name="SQLSEGURIDAD" connectionString="user id = sa;password = Cie-quich; server=SPESRVBD2012\SQL2005DES; database=DBSeguridad;" providerName="System.Data.SqlClient" />
          
 	<add name="SQLSIMANET" connectionString="user id = sa;password = Cie-quich; server=SPESRVBD2012\SQL2005DES; database=SIMANET2005;" providerName="System.Data.SqlClient" />
	
	<add name="SQLSISTRADES" connectionString="user id = sa;password = simanetreportes2022*; server=10.10.90.4\SQL2022_REPORT; database=BDsistrades;" providerName="System.Data.SqlClient" />

        <add name="UNISYS" connectionString="Provider=MSDAORA;Data Source=UNISYS_PROD;user id=u001;password=u001;persist security info=false;" providerName="System.Data.OleDb" ></add>  

 	<add name="OJDE"  connectionString="Data Source=JDE_PROD;user id=INTEGRACION_JDE;password=INTEGRACION_JDE;persist security info=false;" providerName="Oracle.DataAccess.Client"/>

	<add name="O7"  connectionString="Data Source=O7_PROD;user id=PLA01;password=PLA01;persist security info=false;" providerName="Oracle.DataAccess.Client"/>

	<add name="OMYSQL"  connectionString="Server=10.10.90.55;User Id=sistrades;Password=Sistrades2023*;database=mpvirtual" providerName="MySql.Data.MySqlClient"/>

 	<add name="O9I"  connectionString="Data Source=UNISYS_DESA;user id=U001;password=U001;persist security info=false;" providerName="Oracle.DataAccess.Client"/>

    </connectionStrings>
    
</configuration>
