<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="LogSeccion" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="FileDBConectivity" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="Autenticacion" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="WebServiceSIMAOracle" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="Tesoreria" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="ConfigBase" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <section name="H2H" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <LogSeccion>
    <add key="LogEncendido" value="true"/>
    <add key="RutaFileLog" value="C:\Proyectos\Log\"/>
    <add key="LogFileName" value="Negocio"/>
  </LogSeccion>
  <FileDBConectivity>
    <add key="ConfigDB" value="C:\NetSuite\SimaCore\ConfigConexion\ArchivoDataOrigen.config"/>
  </FileDBConectivity>
  <Autenticacion>
    <add key="AutenticacionWindows" value="true"/>
    <add key="CadenaLDAP" value="LDAP://simaperu.com.pe"/>
    <add key="usrJDE" value="INTEGRACION_JDE"/>
    <add key="pssJDE" value="INTEGRACION_JDE"/>
    <add key="pathWSJDE" value="http://10.10.90.138:7060/xml_oracle/xml_api."/>
  </Autenticacion>
  <WebServiceSIMAOracle>
    <add key="PathWSOracle" value="http://10.10.90.138:7060/xml_oracle/xml_api"/>
    <add key="WSUser" value="INTEGRACION_JDE"/>
    <add key="WSPwd" value="INTEGRACION_JDE"/>
  </WebServiceSIMAOracle>
  <Tesoreria>
        <!-- <add key="WSServerH2H" value="http://10.32.0.241:8082/"/>-->
    <add key="WSServerH2H" value="http://10.10.90.9/"/>
    <add key="EnviaPago" value="api/HosToHostBCP/GenerarTxtEnviarPlanillaPagosBCP"/>
    <add key="LeerPago" value="api/HosToHostBCP/LeerTxtRtaPlanillaPagoBCP"/>
    
  </Tesoreria>

  <ConfigBase>
    <add key="ServerEMail" value="10.10.90.77" />
    <add key="ServerEMailPort" value="25" />
 </ConfigBase>

  <H2H>
    <add key="UserSend" value="webmaster@sima.com.pe" />
    <add key="AdmServer" value="mnunez@sima.com.pe" />
    <add key="LstSoporte" value="erosales@sima.com.pe" />
  </H2H>
      <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.1.0.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>